.Card {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 3px;

  &.horizontal {
    display: inline-block;
    width: 400px;
    height: 150px;

    .cell {
      display: table-cell;
      overflow: hidden;
      vertical-align: top;
    }
  }
}
