.Cover {
  overflow: hidden;

  &.vertical {
    .img {
      width: 100%;
      border-radius: 3px 3px 0 0;
      background-size: cover;
      background-position: center center;

      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  &.horizontal {
    width: 150px;
    margin-right: 5px;

    .img {
      height: 100%;
      border-radius: 3px 0 0 3px;
      background-size: cover;
      background-position: center center;

      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}
