.InputForm {
  width: 600px;
  margin-bottom: 5px;

  &__cell {
    position: relative;
    vertical-align: top;
  }

  &__wrapper {
    display: inline-block;
    position: relative;
    width: 100%;

    &.active {
      display: inline-block;
      width: calc(100% - 53px);
    }
  }

  &__textarea {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid #eee;
    resize: none;

    &:focus {
      outline: 1px solid #31c089;
    }

    &.disabled {
      background-color: #f5f5f5;
      opacity: 0.7;
    }
  }

  &__word_count {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.45);
  }

  &__save-btn {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    border: 1px solid #eee;
    color: #31c089;
    background: none;
    cursor: pointer;
  }
}
